# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.robot.iml
# Datasource local storage ignored files
/../../../../../../../../:\Paco\UBB\VR\robot\.idea\.idea.robot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
