:root {
    --DARKEST_GREY: #131313;
    --DARKER_GREY: #292929;
    --DARK_GREY: #343434;
    --LIGHT_GREY: #454545;
    --LIGHTER_GREY: #9D9D9D;
    --ORANGE_ACCENT: #FF9F60;
    --RED_ACCENT: #EA2A3D;
}
