body {
    margin: 0;
}

header {
    height: 130px;
    background-color: lightcoral;
    font-size: 30px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

nav {
    float: left;
    width: 17%;
    height: 475px;
    background-color: palegoldenrod;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    height: 5%;
    border-bottom: 2px solid black;
    padding: 6px 0 6px 60px;
}

article {
    height: 475px;
    background-color: darkseagreen;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

footer {
    height: 50px;
    background-color: pink;
    display: flex;
    align-items: center;
    padding-left: 30px;
}