.container {
    width: 500px;
    /*height: 500px;*/
    border-style: solid;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

.element {
    text-align: center;
    margin: 20px;
    padding: 30px;
    background: linear-gradient(#ffa742, #ffffff);
}

img {
    width: 100px;
    height: 100px;
}