<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
  <connectionStrings>
    <add name="connection_string" connectionString="Server=LAPTOP-SJ532SIA\SQLEXPRESS;Database=LIQUOR STORE;Integrated Security=true;"/>
  </connectionStrings>

  <appSettings>
    <add key="tableParent" value="Categorii"/>
    <add key="tableChild" value="Produse"/>
    <add key="nrColChild" value="5"/>
    <add key="columnsChild" value="nume,concentratie,cantitate,descriere,pret"/>
    
    <add key="selectParent" value="SELECT id, nume FROM Categorii"/>
    <add key="selectChild" value="SELECT id, nume, concentratie, cantitate, descriere, pret FROM Produse where id_categorie=@id"/>
    <add key="update" value="update Produse set nume=@nume, concentratie=@concentratie, cantitate=@cantitate, descriere=@descriere, pret=@pret where id = @id"/>
    <add key="delete" value="delete FROM Produse where id=@id"/>
    <add key="max" value="select max(id) as max from Produse"/>
    <add key="insert" value="insert into Produse(id,nume,concentratie,cantitate,descriere,pret,id_furnizor,id_categorie) values (@id,@nume,@concentratie,@cantitate,@descriere,@pret,1,@idParent)"/>
  </appSettings>

  <!--<appSettings>
    <add key="tableParent" value="Clienti"/>
    <add key="tableChild" value="Comenzi"/>
    <add key="nrColChild" value="2"/>
    <add key="columnsChild" value="platforma,ramburs"/>

    <add key="selectParent" value="SELECT id, nume, prenume, nr_telefon FROM Clienti"/>
    <add key="selectChild" value="SELECT id, platforma, ramburs FROM Comenzi where id_client=@id"/>
    <add key="update" value="update Comenzi set platforma=@platforma, ramburs=@ramburs where id = @id"/>
    <add key="delete" value="delete FROM Comenzi where id=@id"/>
    <add key="max" value="select max(id) as max from Comenzi"/>
    <add key="insert" value="insert into Comenzi(id,platforma,ramburs,id_client) values (@id,@platforma,@ramburs,@idParent)"/>
  </appSettings>-->
</configuration>