# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UniversityDeadlineTracker.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Paco\UBB\G5\UniversityDeadlineTracker\.idea\.idea.UniversityDeadlineTracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
