# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SwimClientSharp.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\UBB\MPP\Lab10\SwimClientSharp\.idea\.idea.SwimClientSharp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
