# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.toon.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Paco\UBB\VR\toon\.idea\.idea.toon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
