.table-header * {
    color: white !important;
    border: none !important;
}

.table-header .MuiTextField-root {
    float: right;
    background-color: var(--LIGHT_GREY);
    border-radius: 5px;
    margin: 10px 20px;
}

.table-container {
    margin: 65px auto 10px !important;
    width: 90vw !important;
    height: 80% !important;
    background-color: var(--DARK_GREY) !important;
    border-radius: 10px !important;
}

.table-container .table {
}

.table-container .table-head {
}

.table-container .table-head-row {
}

.table-container .table-head-cell {
    border-right: 0.5px solid var(--LIGHT_GREY) !important;
    border-top: none !important;
    border-bottom: 1px solid var(--LIGHTER_GREY) !important;
}

.table-container .table-head-cell .MuiTableSortLabel-root, .MuiTableSortLabel-icon {
    color: white !important;
    transition-duration: .3s;
}

.table-container .table-head-cell .MuiTableSortLabel-root:hover .MuiTableSortLabel-icon {
    color: var(--LIGHTER_GREY) !important;
}

.table-container .table-head-cell .MuiTableSortLabel-root:hover {
    color: var(--LIGHTER_GREY) !important;
}

.table-container .table-body {
}

.table-container .table-body-row {
}

.table-container .table-body-cell {
    border-top: 0.5px solid var(--LIGHT_GREY) !important;
    border-bottom: 0.5px solid var(--LIGHT_GREY) !important;
    color: white !important;
}

.table-container .status-dot {
    margin-left: 10px;
}

.table-container .title-task-icon {
    margin-right: 10px;
}

.table-container #Arrow {
    width: 5%;
    border-right: none !important;
}

.table-container #Id {
    width: 7%;
}

.table-container #Subject {
    width: 15%;
}

.table-container #Title {
}

.table-container #Deadline {
    width: 20%;
}

.table-container #Status {
    width: 13%;
}

.table-container .arrow {
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.table-container .arrow:hover {
    background-color: var(--LIGHT_GREY);
    color: var(--ORANGE_ACCENT);
}

.table-container .table th {
    vertical-align: middle !important;
}

.table-container .table td {
    border-top: 0.5px solid var(--LIGHT_GREY) !important;
    border-bottom: 0.5px solid var(--LIGHT_GREY) !important;

    vertical-align: middle !important;
}

.table-container .description {
    color: white;
    font-size: 12px !important;
    padding: 10px;
}

.table-footer {
    margin-right: 70px;
}

.table-footer p {
    margin: 0;
}

.table-footer .MuiTablePagination-root, .table-footer .MuiSelect-icon {
    color: white;
}

.table-footer .Mui-disabled {
    color: var(--DARK_GREY) !important;
}

.table-footer .MuiSvgIcon-root:hover, .table-footer .MuiSelect-root:hover, .table-footer .MuiSelect-root:hover .MuiSelect-icon {
    color: grey;
}
